/* src/styles/globals.css */

.btn-primary {
  @apply w-full py-4 text-lg bg-green-600 text-white rounded-2xl;
}

.btn-secondary {
  @apply w-full py-4 text-lg bg-green-100 text-green-800 rounded-2xl border border-green-300;
}

.btn-warning {
  @apply w-full py-4 text-lg bg-yellow-50 text-yellow-800 rounded-2xl border border-yellow-300;
}

.page-title {
  @apply text-3xl font-bold text-green-700 leading-snug font-ttp;
}

.section-title {
  @apply text-2xl font-semibold text-green-700 mb-2;
}

:root {
  /* Light Mode */
  --color-primary: #054219;
  --color-accent: #ef9651;
  --color-alert: #ec5228;
  --color-background: #efefef;
  --color-surface: #ffffff;
  --color-text: #1e1e1e;
  --color-muted: #666666;
  --color-border: #cccccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #054219;
    --color-accent: #89f7a7;
    --color-alert: #ff7f5e;
    --color-background: #0d1b12;
    --color-surface: #1c2e24;
    --color-text: #f5f5f5;
    --color-muted: #9aa39b;
    --color-border: #2e4b3c;
  }
}

body {
  margin: 8px;
}

button {
  color: var(--color-surface);
  background-color: var(--color-primary);
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-content: left;
  justify-content: flex-start;
  gap: 0.25rem;
  text-decoration: none;
}

header,
div.menu div.header {
  padding: 0 1.5rem 1.5rem;
  text-align: center;
}

div.menu {
  background-color: var(--color-primary);
}

header.header-wrapper {
  background: var(--color-primary);
  color: var(--color-surface);
}

header a {
  text-decoration: none;
}
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  z-index: 1000;
  border-top: 1px solid #ccc;
  margin: 8px;
}

nav button span {
  text-align: center;
}

div.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 8px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}

div.menu div {
  background-color: var(--color-background);
}

div.menu a {
  text-decoration: none;
}

/* Thêm mới cho header co lại */
.header-wrapper {
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
}

.header-wrapper.shrink {
  padding: 0.5rem 1.5rem;
}

.app-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  transition: font-size 0.3s ease;
}

.header-wrapper.shrink .app-title {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.app-description {
  margin: 0;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}
